<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">NOM I COGNOMS</th>
            <th scope="col">EDAT</th>
            <th scope="col">ADREÇA</th>
            <th scope="col">CONTACTE</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Roger Olivares Gabaldón</td>
            <td>20 anys</td>
            <td>@C/Pau Casals Nº 18 - Albatàrrec 25171 (Lleida)</td>
            <td>Mobil: 680606784 - Email: rogerolivares30@gmail.com</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th scope="col">EXPERIÈNCIA PROFESSIONAL</th>
            <th scope="col">FORMACIÓ</th>
            <th scope="col">IDIOMES</th>
            <th scope="col">CARNETS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                • Ajudant de carga i descàrrega de camions
            </td>
            <td>
                • Graduat en ESO 2012/2016 Ins Caparrella (Lleida)
            </td>
            <td>
                • Anglés: nivel mitjà-alt escrit i parlat (Títol, Oficial Cambridge KET)
            </td>
            <td>
                • B (cotxe)
            </td>
        </tr>
        <tr>
            <td>
                • Organitzador d’activitats infantils
            </td>
            <td>
                • Cicle Mitjà de Sistemes Microinformàtics i xarxes a l’Institut Caparrella (Lleida)
            </td>
            <td>
                • Català: nivell alt escrit i parlat (Llengua Materna)
            </td>
            <td>
                • A1 (125CC - moto)
            </td>
        </tr>
        <tr>
            <td>
                • Monitor d’estades esportives
            </td>
            <td></td>
            <td>
                • Castellà: nivell alt escrit i parlat
            </td>
            <td>
                • A1 (125CC - moto)
            </td>
        </tr>
        <tr>
            <td>
                • Monitor de menjador
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                • Auxiliar Administratiu en una cooperativa (Temporada d’estiu 2018/2019 - 3 mesos complets)
            </td>
        </tr>
        <tr>
            <td>
                • Paletitzador en una cooperativa (Temporada d’estiu 2019/2020)
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>